body{
	background: #ddd;
}

.alphabet{
	float: left;
	margin:10px;
	padding: 10px;
	border:2px solid red;
	transition: all 0.3ms;
}
.gold{
	border:2px solid gold;
	transform: scale(1.2);
}
